In [3]:
import pandas as pd
import json

In [15]:
with open('t20_json_files/t20_wc_match_results.json')as f:
    data=json.load(f)
#creating dataframe 
#in dataframe we can supply entire list of array i.e data[0]
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
30,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
32,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
33,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
34,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
35,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
36,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
37,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
38,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
39,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [17]:
#use scorecard as key i.e match id so it will be easy to connect with other table becase in scorecarsd each value is unique 
df_match.rename({'scorecard':'match_id'},axis=1,inplace=True)
df_match

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
30,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
32,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
33,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
34,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
35,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
36,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
37,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
38,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
39,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [65]:
match_ids_dict={}

for index, row in df_match.iterrows():
    key1=row['team1'] + 'Vs' + row['team2']
    key2=row['team2'] + 'Vs' + row['team1']
    match_ids_dict[key1]=row["match_id"]
    match_ids_dict[key2]=row["match_id"]
match_ids_dict

{'NamibiaVsSri Lanka': 'T20I # 1823',
 'Sri LankaVsNamibia': 'T20I # 1823',
 'NetherlandsVsU.A.E.': 'T20I # 1825',
 'U.A.E.VsNetherlands': 'T20I # 1825',
 'ScotlandVsWest Indies': 'T20I # 1826',
 'West IndiesVsScotland': 'T20I # 1826',
 'IrelandVsZimbabwe': 'T20I # 1828',
 'ZimbabweVsIreland': 'T20I # 1828',
 'NamibiaVsNetherlands': 'T20I # 1830',
 'NetherlandsVsNamibia': 'T20I # 1830',
 'Sri LankaVsU.A.E.': 'T20I # 1832',
 'U.A.E.VsSri Lanka': 'T20I # 1832',
 'IrelandVsScotland': 'T20I # 1833',
 'ScotlandVsIreland': 'T20I # 1833',
 'West IndiesVsZimbabwe': 'T20I # 1834',
 'ZimbabweVsWest Indies': 'T20I # 1834',
 'NetherlandsVsSri Lanka': 'T20I # 1835',
 'Sri LankaVsNetherlands': 'T20I # 1835',
 'NamibiaVsU.A.E.': 'T20I # 1836',
 'U.A.E.VsNamibia': 'T20I # 1836',
 'IrelandVsWest Indies': 'T20I # 1837',
 'West IndiesVsIreland': 'T20I # 1837',
 'ScotlandVsZimbabwe': 'T20I # 1838',
 'ZimbabweVsScotland': 'T20I # 1838',
 'AustraliaVsNew Zealand': 'T20I # 1839',
 'New ZealandVsAustralia': 'T20I # 1839',
 'AfghanistanVsEngland': 'T20I # 1840',
 'EnglandVsAfghanistan': 'T20I # 1840',
 'IrelandVsSri Lanka': 'T20I # 1841',
 'Sri LankaVsIreland': 'T20I # 1841',
 'IndiaVsPakistan': 'T20I # 1842',
 'PakistanVsIndia': 'T20I # 1842',
 'BangladeshVsNetherlands': 'T20I # 1843',
 'NetherlandsVsBangladesh': 'T20I # 1843',
 'South AfricaVsZimbabwe': 'T20I # 1844',
 'ZimbabweVsSouth Africa': 'T20I # 1844',
 'AustraliaVsSri Lanka': 'T20I # 1845',
 'Sri LankaVsAustralia': 'T20I # 1845',
 'EnglandVsIreland': 'T20I # 1846',
 'IrelandVsEngland': 'T20I # 1846',
 'AfghanistanVsNew Zealand': 'T20I # 1846a',
 'New ZealandVsAfghanistan': 'T20I # 1846a',
 'BangladeshVsSouth Africa': 'T20I # 1847',
 'South AfricaVsBangladesh': 'T20I # 1847',
 'IndiaVsNetherlands': 'T20I # 1848',
 'NetherlandsVsIndia': 'T20I # 1848',
 'PakistanVsZimbabwe': 'T20I # 1849',
 'ZimbabweVsPakistan': 'T20I # 1849',
 'AfghanistanVsIreland': 'T20I # 1849a',
 'IrelandVsAfghanistan': 'T20I # 1849a',
 'AustraliaVsEngland': 'T20I # 1849b',
 'EnglandVsAustralia': 'T20I # 1849b',
 'New ZealandVsSri Lanka': 'T20I # 1850',
 'Sri LankaVsNew Zealand': 'T20I # 1850',
 'BangladeshVsZimbabwe': 'T20I # 1851',
 'ZimbabweVsBangladesh': 'T20I # 1851',
 'NetherlandsVsPakistan': 'T20I # 1852',
 'PakistanVsNetherlands': 'T20I # 1852',
 'IndiaVsSouth Africa': 'T20I # 1853',
 'South AfricaVsIndia': 'T20I # 1853',
 'AustraliaVsIreland': 'T20I # 1855',
 'IrelandVsAustralia': 'T20I # 1855',
 'AfghanistanVsSri Lanka': 'T20I # 1856',
 'Sri LankaVsAfghanistan': 'T20I # 1856',
 'EnglandVsNew Zealand': 'T20I # 1858',
 'New ZealandVsEngland': 'T20I # 1858',
 'NetherlandsVsZimbabwe': 'T20I # 1859',
 'ZimbabweVsNetherlands': 'T20I # 1859',
 'BangladeshVsIndia': 'T20I # 1860',
 'IndiaVsBangladesh': 'T20I # 1860',
 'PakistanVsSouth Africa': 'T20I # 1861',
 'South AfricaVsPakistan': 'T20I # 1861',
 'IrelandVsNew Zealand': 'T20I # 1862',
 'New ZealandVsIreland': 'T20I # 1862',
 'AustraliaVsAfghanistan': 'T20I # 1864',
 'AfghanistanVsAustralia': 'T20I # 1864',
 'EnglandVsSri Lanka': 'T20I # 1867',
 'Sri LankaVsEngland': 'T20I # 1867',
 'NetherlandsVsSouth Africa': 'T20I # 1871',
 'South AfricaVsNetherlands': 'T20I # 1871',
 'BangladeshVsPakistan': 'T20I # 1872',
 'PakistanVsBangladesh': 'T20I # 1872',
 'IndiaVsZimbabwe': 'T20I # 1873',
 'ZimbabweVsIndia': 'T20I # 1873',
 'New ZealandVsPakistan': 'T20I # 1877',
 'PakistanVsNew Zealand': 'T20I # 1877',
 'EnglandVsIndia': 'T20I # 1878',
 'IndiaVsEngland': 'T20I # 1878',
 'EnglandVsPakistan': 'T20I # 1879',
 'PakistanVsEngland': 'T20I # 1879'}

**batting summary**

In [25]:
with open('t20_json_files/t20_wc_batting_summary.json')as f:
    data=json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
all_records
#creating dataframe 
df_batting=pd.DataFrame(all_records)
df_batting

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [35]:
#converting dismissal column to out or not out 
#by looking at dismissal column and if it is blank it means a player is not out 

df_batting["out/not_out"]=df_batting.dismissal.apply(lambda x: "out" if len(x)>0 else "not_out")
df_batting

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00,not_out

In [37]:
#dropping dismissal column 
df_batting.drop(columns=["dismissal"],inplace=True)
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out

In [39]:
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out

In [43]:
#removing special characters 
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('',''))
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('\xa0',''))
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [63]:
#now we have to connect this particular dataframe with match 
#we have to link these two tables in 1 table there is nambia and srilanka team name and in another table there is nambia vs srilanka that is the only key between these two tables 
#to bring match_id column in this particular 

df_batting["match_id"]=df_batting["match"].map(match_id_dict)
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,NaN
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,NaN
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,NaN
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,NaN
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,NaN
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out,NaN
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out,NaN
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out,NaN
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out,NaN
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out,NaN

In [69]:
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)

df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,NaN
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,NaN
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,NaN
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,NaN
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,NaN

In [71]:
print(df_batting["match"].unique())

['Namibia Vs Sri Lanka' 'U.A.E. Vs Netherlands' 'Scotland Vs West Indies'
 'Zimbabwe Vs Ireland' 'Namibia Vs Netherlands' 'Sri Lanka Vs U.A.E.'
 'Scotland Vs Ireland' 'West Indies Vs Zimbabwe'
 'Sri Lanka Vs Netherlands' 'U.A.E. Vs Namibia' 'West Indies Vs Ireland'
 'Scotland Vs Zimbabwe' 'New Zealand Vs Australia'
 'Afghanistan Vs England' 'Ireland Vs Sri Lanka' 'Pakistan Vs India'
 'Bangladesh Vs Netherlands' 'Zimbabwe Vs South Africa'
 'Sri Lanka Vs Australia' 'Ireland Vs England'
 'South Africa Vs Bangladesh' 'India Vs Netherlands'
 'Zimbabwe Vs Pakistan' 'New Zealand Vs Sri Lanka'
 'Bangladesh Vs Zimbabwe' 'Netherlands Vs Pakistan'
 'India Vs South Africa' 'Australia Vs Ireland' 'Afghanistan Vs Sri Lanka'
 'England Vs New Zealand' 'Zimbabwe Vs Netherlands' 'India Vs Bangladesh'
 'Pakistan Vs South Africa' 'New Zealand Vs Ireland'
 'Australia Vs Afghanistan' 'Sri Lanka Vs England'
 'Netherlands Vs South Africa' 'Bangladesh Vs Pakistan'
 'India Vs Zimbabwe' 'New Zealand Vs Pakistan' 'India Vs England'
 'Pakistan Vs England']

In [73]:
print("Before cleaning df_batting['match']:", df_batting["match"].unique())

Before cleaning df_batting['match']: ['Namibia Vs Sri Lanka' 'U.A.E. Vs Netherlands' 'Scotland Vs West Indies'
 'Zimbabwe Vs Ireland' 'Namibia Vs Netherlands' 'Sri Lanka Vs U.A.E.'
 'Scotland Vs Ireland' 'West Indies Vs Zimbabwe'
 'Sri Lanka Vs Netherlands' 'U.A.E. Vs Namibia' 'West Indies Vs Ireland'
 'Scotland Vs Zimbabwe' 'New Zealand Vs Australia'
 'Afghanistan Vs England' 'Ireland Vs Sri Lanka' 'Pakistan Vs India'
 'Bangladesh Vs Netherlands' 'Zimbabwe Vs South Africa'
 'Sri Lanka Vs Australia' 'Ireland Vs England'
 'South Africa Vs Bangladesh' 'India Vs Netherlands'
 'Zimbabwe Vs Pakistan' 'New Zealand Vs Sri Lanka'
 'Bangladesh Vs Zimbabwe' 'Netherlands Vs Pakistan'
 'India Vs South Africa' 'Australia Vs Ireland' 'Afghanistan Vs Sri Lanka'
 'England Vs New Zealand' 'Zimbabwe Vs Netherlands' 'India Vs Bangladesh'
 'Pakistan Vs South Africa' 'New Zealand Vs Ireland'
 'Australia Vs Afghanistan' 'Sri Lanka Vs England'
 'Netherlands Vs South Africa' 'Bangladesh Vs Pakistan'
 'India Vs Zimbabwe' 'New Zealand Vs Pakistan' 'India Vs England'
 'Pakistan Vs England']

In [77]:
df_batting["match"] = df_batting["match"].str.replace(" ", "").str.strip()
df_batting["match"]

0      NamibiaVsSriLanka
1      NamibiaVsSriLanka
2      NamibiaVsSriLanka
3      NamibiaVsSriLanka
4      NamibiaVsSriLanka
             ...
694    PakistanVsEngland
695    PakistanVsEngland
696    PakistanVsEngland
697    PakistanVsEngland
698    PakistanVsEngland
Name: match, Length: 699, dtype: object

In [79]:
print("Before cleaning match_ids_dict keys:", list(match_ids_dict.keys())[:10])  # Print only first 10 keys

Before cleaning match_ids_dict keys: ['NamibiaVsSri Lanka', 'Sri LankaVsNamibia', 'NetherlandsVsU.A.E.', 'U.A.E.VsNetherlands', 'ScotlandVsWest Indies', 'West IndiesVsScotland', 'IrelandVsZimbabwe', 'ZimbabweVsIreland', 'NamibiaVsNetherlands', 'NetherlandsVsNamibia']

In [83]:
match_ids_dict = {k.replace(" ", "").strip(): v for k, v in match_ids_dict.items()}
match_ids_dict

{'NamibiaVsSriLanka': 'T20I # 1823',
 'SriLankaVsNamibia': 'T20I # 1823',
 'NetherlandsVsU.A.E.': 'T20I # 1825',
 'U.A.E.VsNetherlands': 'T20I # 1825',
 'ScotlandVsWestIndies': 'T20I # 1826',
 'WestIndiesVsScotland': 'T20I # 1826',
 'IrelandVsZimbabwe': 'T20I # 1828',
 'ZimbabweVsIreland': 'T20I # 1828',
 'NamibiaVsNetherlands': 'T20I # 1830',
 'NetherlandsVsNamibia': 'T20I # 1830',
 'SriLankaVsU.A.E.': 'T20I # 1832',
 'U.A.E.VsSriLanka': 'T20I # 1832',
 'IrelandVsScotland': 'T20I # 1833',
 'ScotlandVsIreland': 'T20I # 1833',
 'WestIndiesVsZimbabwe': 'T20I # 1834',
 'ZimbabweVsWestIndies': 'T20I # 1834',
 'NetherlandsVsSriLanka': 'T20I # 1835',
 'SriLankaVsNetherlands': 'T20I # 1835',
 'NamibiaVsU.A.E.': 'T20I # 1836',
 'U.A.E.VsNamibia': 'T20I # 1836',
 'IrelandVsWestIndies': 'T20I # 1837',
 'WestIndiesVsIreland': 'T20I # 1837',
 'ScotlandVsZimbabwe': 'T20I # 1838',
 'ZimbabweVsScotland': 'T20I # 1838',
 'AustraliaVsNewZealand': 'T20I # 1839',
 'NewZealandVsAustralia': 'T20I # 1839',
 'AfghanistanVsEngland': 'T20I # 1840',
 'EnglandVsAfghanistan': 'T20I # 1840',
 'IrelandVsSriLanka': 'T20I # 1841',
 'SriLankaVsIreland': 'T20I # 1841',
 'IndiaVsPakistan': 'T20I # 1842',
 'PakistanVsIndia': 'T20I # 1842',
 'BangladeshVsNetherlands': 'T20I # 1843',
 'NetherlandsVsBangladesh': 'T20I # 1843',
 'SouthAfricaVsZimbabwe': 'T20I # 1844',
 'ZimbabweVsSouthAfrica': 'T20I # 1844',
 'AustraliaVsSriLanka': 'T20I # 1845',
 'SriLankaVsAustralia': 'T20I # 1845',
 'EnglandVsIreland': 'T20I # 1846',
 'IrelandVsEngland': 'T20I # 1846',
 'AfghanistanVsNewZealand': 'T20I # 1846a',
 'NewZealandVsAfghanistan': 'T20I # 1846a',
 'BangladeshVsSouthAfrica': 'T20I # 1847',
 'SouthAfricaVsBangladesh': 'T20I # 1847',
 'IndiaVsNetherlands': 'T20I # 1848',
 'NetherlandsVsIndia': 'T20I # 1848',
 'PakistanVsZimbabwe': 'T20I # 1849',
 'ZimbabweVsPakistan': 'T20I # 1849',
 'AfghanistanVsIreland': 'T20I # 1849a',
 'IrelandVsAfghanistan': 'T20I # 1849a',
 'AustraliaVsEngland': 'T20I # 1849b',
 'EnglandVsAustralia': 'T20I # 1849b',
 'NewZealandVsSriLanka': 'T20I # 1850',
 'SriLankaVsNewZealand': 'T20I # 1850',
 'BangladeshVsZimbabwe': 'T20I # 1851',
 'ZimbabweVsBangladesh': 'T20I # 1851',
 'NetherlandsVsPakistan': 'T20I # 1852',
 'PakistanVsNetherlands': 'T20I # 1852',
 'IndiaVsSouthAfrica': 'T20I # 1853',
 'SouthAfricaVsIndia': 'T20I # 1853',
 'AustraliaVsIreland': 'T20I # 1855',
 'IrelandVsAustralia': 'T20I # 1855',
 'AfghanistanVsSriLanka': 'T20I # 1856',
 'SriLankaVsAfghanistan': 'T20I # 1856',
 'EnglandVsNewZealand': 'T20I # 1858',
 'NewZealandVsEngland': 'T20I # 1858',
 'NetherlandsVsZimbabwe': 'T20I # 1859',
 'ZimbabweVsNetherlands': 'T20I # 1859',
 'BangladeshVsIndia': 'T20I # 1860',
 'IndiaVsBangladesh': 'T20I # 1860',
 'PakistanVsSouthAfrica': 'T20I # 1861',
 'SouthAfricaVsPakistan': 'T20I # 1861',
 'IrelandVsNewZealand': 'T20I # 1862',
 'NewZealandVsIreland': 'T20I # 1862',
 'AustraliaVsAfghanistan': 'T20I # 1864',
 'AfghanistanVsAustralia': 'T20I # 1864',
 'EnglandVsSriLanka': 'T20I # 1867',
 'SriLankaVsEngland': 'T20I # 1867',
 'NetherlandsVsSouthAfrica': 'T20I # 1871',
 'SouthAfricaVsNetherlands': 'T20I # 1871',
 'BangladeshVsPakistan': 'T20I # 1872',
 'PakistanVsBangladesh': 'T20I # 1872',
 'IndiaVsZimbabwe': 'T20I # 1873',
 'ZimbabweVsIndia': 'T20I # 1873',
 'NewZealandVsPakistan': 'T20I # 1877',
 'PakistanVsNewZealand': 'T20I # 1877',
 'EnglandVsIndia': 'T20I # 1878',
 'IndiaVsEngland': 'T20I # 1878',
 'EnglandVsPakistan': 'T20I # 1879',
 'PakistanVsEngland': 'T20I # 1879'}

In [85]:
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)
df_batting["match_id"]

0      T20I # 1823
1      T20I # 1823
2      T20I # 1823
3      T20I # 1823
4      T20I # 1823
          ...
694    T20I # 1879
695    T20I # 1879
696    T20I # 1879
697    T20I # 1879
698    T20I # 1879
Name: match_id, Length: 699, dtype: object

In [89]:
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)

df_batting.head(25)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,NamibiaVsSriLanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,NamibiaVsSriLanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,NamibiaVsSriLanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,NamibiaVsSriLanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,NamibiaVsSriLanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
5,NamibiaVsSriLanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,NamibiaVsSriLanka,Namibia,7,David Wiese,0,1,0,0,0.00,out,T20I # 1823
7,NamibiaVsSriLanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,NamibiaVsSriLanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out,T20I # 1823
9,NamibiaVsSriLanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out,T20I # 1823
10,NamibiaVsSriLanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out,T20I # 1823
11,NamibiaVsSriLanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out,T20I # 1823
12,NamibiaVsSriLanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out,T20I # 1823
13,NamibiaVsSriLanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out,T20I # 1823
14,NamibiaVsSriLanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out,T20I # 1823
15,NamibiaVsSriLanka,Sri Lanka,8,Chamika Karunaratne,5,8,0,0,62.50,out,T20I # 1823
16,NamibiaVsSriLanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out,T20I # 1823
17,NamibiaVsSriLanka,Sri Lanka,10,Dushmantha Chameera,8,15,0,0,53.33,out,T20I # 1823
18,NamibiaVsSriLanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out,T20I # 1823
19,U.A.E.VsNetherlands,U.A.E.,1,Chirag Suri,12,20,1,0,60.00,out,T20I # 1825
20,U.A.E.VsNetherlands,U.A.E.,2,Muhammad Waseem,41,47,1,2,87.23,out,T20I # 1825
21,U.A.E.VsNetherlands,U.A.E.,3,Kashif Daud,15,14,0,1,107.14,out,T20I # 1825
22,U.A.E.VsNetherlands,U.A.E.,4,Vriitya Aravind,18,21,0,0,85.71,out,T20I # 1825
23,U.A.E.VsNetherlands,U.A.E.,5,Zawar Farid,2,4,0,0,50.00,out,T20I # 1825
24,U.A.E.VsNetherlands,U.A.E.,6,Basil Hameed,4,4,1,0,100.00,out,T20I # 1825

In [101]:
#exporting into csv file 
df_batting.to_csv('t20_csv_files/temp.csv',index=False)

In [ ]:
# Process Bowling Summary

In [112]:
with open('t20_json_files/t20_wc_bowling_summary.json')as f:
    data=json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records[:2]

[{'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Maheesh Theekshana',
  'overs': '4',
  'maiden': '0',
  'runs': '23',
  'wickets': '1',
  'economy': '5.75',
  '0s': '7',
  '4s': '0',
  '6s': '0',
  'wides': '2',
  'noBalls': '0'},
 {'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Dushmantha Chameera',
  'overs': '4',
  'maiden': '0',
  'runs': '39',
  'wickets': '1',
  'economy': '9.75',
  '0s': '6',
  '4s': '3',
  '6s': '1',
  'wides': '2',
  'noBalls': '0'}]

In [114]:
len(data)

45

In [116]:
df_bowling = pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(500, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [118]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,NaN
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,NaN
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,NaN
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,NaN
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,NaN

In [120]:
print(df_bowling['match'].unique())

['Namibia Vs Sri Lanka' 'U.A.E. Vs Netherlands' 'Scotland Vs West Indies'
 'Zimbabwe Vs Ireland' 'Namibia Vs Netherlands' 'Sri Lanka Vs U.A.E.'
 'Scotland Vs Ireland' 'West Indies Vs Zimbabwe'
 'Sri Lanka Vs Netherlands' 'U.A.E. Vs Namibia' 'West Indies Vs Ireland'
 'Scotland Vs Zimbabwe' 'New Zealand Vs Australia'
 'Afghanistan Vs England' 'Ireland Vs Sri Lanka' 'Pakistan Vs India'
 'Bangladesh Vs Netherlands' 'Zimbabwe Vs South Africa'
 'Sri Lanka Vs Australia' 'Ireland Vs England'
 'South Africa Vs Bangladesh' 'India Vs Netherlands'
 'Zimbabwe Vs Pakistan' 'New Zealand Vs Sri Lanka'
 'Bangladesh Vs Zimbabwe' 'Netherlands Vs Pakistan'
 'India Vs South Africa' 'Australia Vs Ireland' 'Afghanistan Vs Sri Lanka'
 'England Vs New Zealand' 'Zimbabwe Vs Netherlands' 'India Vs Bangladesh'
 'Pakistan Vs South Africa' 'New Zealand Vs Ireland'
 'Australia Vs Afghanistan' 'Sri Lanka Vs England'
 'Netherlands Vs South Africa' 'Bangladesh Vs Pakistan'
 'India Vs Zimbabwe' 'New Zealand Vs Pakistan' 'India Vs England'
 'Pakistan Vs England']

In [122]:
print(match_ids_dict.keys())

dict_keys(['NamibiaVsSriLanka', 'SriLankaVsNamibia', 'NetherlandsVsU.A.E.', 'U.A.E.VsNetherlands', 'ScotlandVsWestIndies', 'WestIndiesVsScotland', 'IrelandVsZimbabwe', 'ZimbabweVsIreland', 'NamibiaVsNetherlands', 'NetherlandsVsNamibia', 'SriLankaVsU.A.E.', 'U.A.E.VsSriLanka', 'IrelandVsScotland', 'ScotlandVsIreland', 'WestIndiesVsZimbabwe', 'ZimbabweVsWestIndies', 'NetherlandsVsSriLanka', 'SriLankaVsNetherlands', 'NamibiaVsU.A.E.', 'U.A.E.VsNamibia', 'IrelandVsWestIndies', 'WestIndiesVsIreland', 'ScotlandVsZimbabwe', 'ZimbabweVsScotland', 'AustraliaVsNewZealand', 'NewZealandVsAustralia', 'AfghanistanVsEngland', 'EnglandVsAfghanistan', 'IrelandVsSriLanka', 'SriLankaVsIreland', 'IndiaVsPakistan', 'PakistanVsIndia', 'BangladeshVsNetherlands', 'NetherlandsVsBangladesh', 'SouthAfricaVsZimbabwe', 'ZimbabweVsSouthAfrica', 'AustraliaVsSriLanka', 'SriLankaVsAustralia', 'EnglandVsIreland', 'IrelandVsEngland', 'AfghanistanVsNewZealand', 'NewZealandVsAfghanistan', 'BangladeshVsSouthAfrica', 'SouthAfricaVsBangladesh', 'IndiaVsNetherlands', 'NetherlandsVsIndia', 'PakistanVsZimbabwe', 'ZimbabweVsPakistan', 'AfghanistanVsIreland', 'IrelandVsAfghanistan', 'AustraliaVsEngland', 'EnglandVsAustralia', 'NewZealandVsSriLanka', 'SriLankaVsNewZealand', 'BangladeshVsZimbabwe', 'ZimbabweVsBangladesh', 'NetherlandsVsPakistan', 'PakistanVsNetherlands', 'IndiaVsSouthAfrica', 'SouthAfricaVsIndia', 'AustraliaVsIreland', 'IrelandVsAustralia', 'AfghanistanVsSriLanka', 'SriLankaVsAfghanistan', 'EnglandVsNewZealand', 'NewZealandVsEngland', 'NetherlandsVsZimbabwe', 'ZimbabweVsNetherlands', 'BangladeshVsIndia', 'IndiaVsBangladesh', 'PakistanVsSouthAfrica', 'SouthAfricaVsPakistan', 'IrelandVsNewZealand', 'NewZealandVsIreland', 'AustraliaVsAfghanistan', 'AfghanistanVsAustralia', 'EnglandVsSriLanka', 'SriLankaVsEngland', 'NetherlandsVsSouthAfrica', 'SouthAfricaVsNetherlands', 'BangladeshVsPakistan', 'PakistanVsBangladesh', 'IndiaVsZimbabwe', 'ZimbabweVsIndia', 'NewZealandVsPakistan', 'PakistanVsNewZealand', 'EnglandVsIndia', 'IndiaVsEngland', 'EnglandVsPakistan', 'PakistanVsEngland'])

In [126]:
df_bowling['match'] = df_bowling['match'].str.strip()
match_ids_dict = {k.strip(): v for k, v in match_ids_dict.items()}
match_ids_dict

{'NamibiaVsSriLanka': 'T20I # 1823',
 'SriLankaVsNamibia': 'T20I # 1823',
 'NetherlandsVsU.A.E.': 'T20I # 1825',
 'U.A.E.VsNetherlands': 'T20I # 1825',
 'ScotlandVsWestIndies': 'T20I # 1826',
 'WestIndiesVsScotland': 'T20I # 1826',
 'IrelandVsZimbabwe': 'T20I # 1828',
 'ZimbabweVsIreland': 'T20I # 1828',
 'NamibiaVsNetherlands': 'T20I # 1830',
 'NetherlandsVsNamibia': 'T20I # 1830',
 'SriLankaVsU.A.E.': 'T20I # 1832',
 'U.A.E.VsSriLanka': 'T20I # 1832',
 'IrelandVsScotland': 'T20I # 1833',
 'ScotlandVsIreland': 'T20I # 1833',
 'WestIndiesVsZimbabwe': 'T20I # 1834',
 'ZimbabweVsWestIndies': 'T20I # 1834',
 'NetherlandsVsSriLanka': 'T20I # 1835',
 'SriLankaVsNetherlands': 'T20I # 1835',
 'NamibiaVsU.A.E.': 'T20I # 1836',
 'U.A.E.VsNamibia': 'T20I # 1836',
 'IrelandVsWestIndies': 'T20I # 1837',
 'WestIndiesVsIreland': 'T20I # 1837',
 'ScotlandVsZimbabwe': 'T20I # 1838',
 'ZimbabweVsScotland': 'T20I # 1838',
 'AustraliaVsNewZealand': 'T20I # 1839',
 'NewZealandVsAustralia': 'T20I # 1839',
 'AfghanistanVsEngland': 'T20I # 1840',
 'EnglandVsAfghanistan': 'T20I # 1840',
 'IrelandVsSriLanka': 'T20I # 1841',
 'SriLankaVsIreland': 'T20I # 1841',
 'IndiaVsPakistan': 'T20I # 1842',
 'PakistanVsIndia': 'T20I # 1842',
 'BangladeshVsNetherlands': 'T20I # 1843',
 'NetherlandsVsBangladesh': 'T20I # 1843',
 'SouthAfricaVsZimbabwe': 'T20I # 1844',
 'ZimbabweVsSouthAfrica': 'T20I # 1844',
 'AustraliaVsSriLanka': 'T20I # 1845',
 'SriLankaVsAustralia': 'T20I # 1845',
 'EnglandVsIreland': 'T20I # 1846',
 'IrelandVsEngland': 'T20I # 1846',
 'AfghanistanVsNewZealand': 'T20I # 1846a',
 'NewZealandVsAfghanistan': 'T20I # 1846a',
 'BangladeshVsSouthAfrica': 'T20I # 1847',
 'SouthAfricaVsBangladesh': 'T20I # 1847',
 'IndiaVsNetherlands': 'T20I # 1848',
 'NetherlandsVsIndia': 'T20I # 1848',
 'PakistanVsZimbabwe': 'T20I # 1849',
 'ZimbabweVsPakistan': 'T20I # 1849',
 'AfghanistanVsIreland': 'T20I # 1849a',
 'IrelandVsAfghanistan': 'T20I # 1849a',
 'AustraliaVsEngland': 'T20I # 1849b',
 'EnglandVsAustralia': 'T20I # 1849b',
 'NewZealandVsSriLanka': 'T20I # 1850',
 'SriLankaVsNewZealand': 'T20I # 1850',
 'BangladeshVsZimbabwe': 'T20I # 1851',
 'ZimbabweVsBangladesh': 'T20I # 1851',
 'NetherlandsVsPakistan': 'T20I # 1852',
 'PakistanVsNetherlands': 'T20I # 1852',
 'IndiaVsSouthAfrica': 'T20I # 1853',
 'SouthAfricaVsIndia': 'T20I # 1853',
 'AustraliaVsIreland': 'T20I # 1855',
 'IrelandVsAustralia': 'T20I # 1855',
 'AfghanistanVsSriLanka': 'T20I # 1856',
 'SriLankaVsAfghanistan': 'T20I # 1856',
 'EnglandVsNewZealand': 'T20I # 1858',
 'NewZealandVsEngland': 'T20I # 1858',
 'NetherlandsVsZimbabwe': 'T20I # 1859',
 'ZimbabweVsNetherlands': 'T20I # 1859',
 'BangladeshVsIndia': 'T20I # 1860',
 'IndiaVsBangladesh': 'T20I # 1860',
 'PakistanVsSouthAfrica': 'T20I # 1861',
 'SouthAfricaVsPakistan': 'T20I # 1861',
 'IrelandVsNewZealand': 'T20I # 1862',
 'NewZealandVsIreland': 'T20I # 1862',
 'AustraliaVsAfghanistan': 'T20I # 1864',
 'AfghanistanVsAustralia': 'T20I # 1864',
 'EnglandVsSriLanka': 'T20I # 1867',
 'SriLankaVsEngland': 'T20I # 1867',
 'NetherlandsVsSouthAfrica': 'T20I # 1871',
 'SouthAfricaVsNetherlands': 'T20I # 1871',
 'BangladeshVsPakistan': 'T20I # 1872',
 'PakistanVsBangladesh': 'T20I # 1872',
 'IndiaVsZimbabwe': 'T20I # 1873',
 'ZimbabweVsIndia': 'T20I # 1873',
 'NewZealandVsPakistan': 'T20I # 1877',
 'PakistanVsNewZealand': 'T20I # 1877',
 'EnglandVsIndia': 'T20I # 1878',
 'IndiaVsEngland': 'T20I # 1878',
 'EnglandVsPakistan': 'T20I # 1879',
 'PakistanVsEngland': 'T20I # 1879'}

In [128]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,NaN
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,NaN
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,NaN
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,NaN
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,NaN

In [130]:
for match in df_bowling['match'].unique():
    if match not in match_ids_dict:
        print(f"Missing: {match}")

Missing: Namibia Vs Sri Lanka
Missing: U.A.E. Vs Netherlands
Missing: Scotland Vs West Indies
Missing: Zimbabwe Vs Ireland
Missing: Namibia Vs Netherlands
Missing: Sri Lanka Vs U.A.E.
Missing: Scotland Vs Ireland
Missing: West Indies Vs Zimbabwe
Missing: Sri Lanka Vs Netherlands
Missing: U.A.E. Vs Namibia
Missing: West Indies Vs Ireland
Missing: Scotland Vs Zimbabwe
Missing: New Zealand Vs Australia
Missing: Afghanistan Vs England
Missing: Ireland Vs Sri Lanka
Missing: Pakistan Vs India
Missing: Bangladesh Vs Netherlands
Missing: Zimbabwe Vs South Africa
Missing: Sri Lanka Vs Australia
Missing: Ireland Vs England
Missing: South Africa Vs Bangladesh
Missing: India Vs Netherlands
Missing: Zimbabwe Vs Pakistan
Missing: New Zealand Vs Sri Lanka
Missing: Bangladesh Vs Zimbabwe
Missing: Netherlands Vs Pakistan
Missing: India Vs South Africa
Missing: Australia Vs Ireland
Missing: Afghanistan Vs Sri Lanka
Missing: England Vs New Zealand
Missing: Zimbabwe Vs Netherlands
Missing: India Vs Bangladesh
Missing: Pakistan Vs South Africa
Missing: New Zealand Vs Ireland
Missing: Australia Vs Afghanistan
Missing: Sri Lanka Vs England
Missing: Netherlands Vs South Africa
Missing: Bangladesh Vs Pakistan
Missing: India Vs Zimbabwe
Missing: New Zealand Vs Pakistan
Missing: India Vs England
Missing: Pakistan Vs England

In [132]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)

In [134]:
print(df_bowling[['match', 'match_id']].head())

                  match match_id
0  Namibia Vs Sri Lanka      NaN
1  Namibia Vs Sri Lanka      NaN
2  Namibia Vs Sri Lanka      NaN
3  Namibia Vs Sri Lanka      NaN
4  Namibia Vs Sri Lanka      NaN

In [136]:
df_bowling['match'] = df_bowling['match'].str.replace(" ", "", regex=True)
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)

In [138]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,NamibiaVsSriLanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,NamibiaVsSriLanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,NamibiaVsSriLanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,NamibiaVsSriLanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,NamibiaVsSriLanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

In [140]:
df_bowling.to_csv('t20_csv_files/fact_bowling_summary.csv',index=False)

**Process Player Information**

In [146]:
with open('t20_json_files/t20_wc_player_info.json')as f:
    data=json.load(f)

In [148]:
df_players = pd.DataFrame(data)
print(df_players.shape)
df_players.head(10)

(219, 6)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [150]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
127,KL Rahul,India,Right hand Bat,,Opening Batter,"A tall, elegant right-hand batsman who can kee..."
128,Rohit Sharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
129,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
130,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
131,Axar Patel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
132,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Hardik Pandya swears by living life king size ...
133,Dinesh Karthik,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
134,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
135,Bhuvneshwar Kumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
136,Arshdeep Singh,India,Left hand Bat,Left arm Medium fast,Bowler,
137,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
192,Deepak Hooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."
211,Rishabh Pant,India,Left hand Bat,,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."

In [154]:
df_players['name']=df_players['name'].apply(lambda x: x.replace('',''))
df_players['name']=df_players['name'].apply(lambda x: x.replace('\xa0',''))
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
127,KL Rahul,India,Right hand Bat,,Opening Batter,"A tall, elegant right-hand batsman who can kee..."
128,Rohit Sharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
129,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
130,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
131,Axar Patel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
132,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Hardik Pandya swears by living life king size ...
133,Dinesh Karthik,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
134,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
135,Bhuvneshwar Kumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
136,Arshdeep Singh,India,Left hand Bat,Left arm Medium fast,Bowler,
137,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
192,Deepak Hooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."
211,Rishabh Pant,India,Left hand Bat,,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."

In [156]:
df_players.to_csv('t20_csv_files/dim_players_no_images.csv', index = False )